<div class="nav-etu">
  <span>MADA-UNIVERSITY</span>
    <ul>
      <li><a href="/changerMdp/<%= user.id %>" class="btn">Changer mot de passe</a></li>
  
      <li>
        <% if(user){ %>
        <a href="/logout" class="btn">Deconnexion</a>
        <% } %>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 etu-menu">
        <div class="form-group  icone">
          <i class="fa fa-info"></i> <a href="/etudiants/home">Informations </a>
        </div>
        <div class="form-group icone">
          <i class="fa fa-calendar"></i>  <a href="/etudiants/edt/<%= etudiant.FiliereId %>/<%= etudiant.OptionId %>/<%= etudiant.SemestreId %>">Emploi du temps</a>
        </div>
        <div class="form-group icone">
            <% if(etudiant.delegue == true){ %>
            <i class="fa fa-book"></i>  <a href="/etudiants/cahierTexte">Cahier de texte</a>
            <% } %> 
        </div>
        <div class="form-group icone">
           <i class="fa fa-sticky-note"></i> Releve de Note : 
            <ul>
              <% for(item of semestres){ %>
              <li><a href="/etudiants/releveNote/<%= etudiant.FiliereId %>/<%= etudiant.OptionId %>/<%= item.id %>/<%= etudiant.id %>">S<%= item.nom %></a> </li>
              <% } %>
            </ul>
          
        </div>
  
      </div>
      <div class="col-lg-10" style="margin-top: 10px;">
        <h3>Releve de note en S<%= SemestreId %></h3>
        <span> Nom :  <%= etudiant.nom %></span> <br>
        <span> Prenom :  <%= etudiant.prenom %></span> <br>
        <span>Les Ec a reprendre sont en rouges</span>
        <table class="table">
            <thead>
                <tr>
                    <th>Unite d'enseignement</th>
                    <th>Ec</th>
                    <th>Note</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for(ue of ues) { %>
                    <tr>
                        <td rowspan="<%= ue.nomEc.length + 1 %>"><%= ue.nomUe %></td>
                    </tr>
                    <% for(ec of ue.nomEc){ %>
                        <tr>
                            <td><%= ec.Ec.nom %></td>
                            <% if (ec.note < 10 && ue.moyenneParUe < 10){ %>
                                <td class="rep"><%= ec.note %></td>
                            <% }else{ %>
                                <td><%= ec.note %></td>
                            <% } %>
                            
                        </tr>
                    <% } %>
                    <tr>
                        <td> Somme : <%= ue.sommeParUe %> </td>
                        <td>Moyenne : <%= ue.moyenneParUe %></td>
                    </tr>
                <% } %>
            </tbody>
           </table> 
           <span> Somme General : <%= SommeGeneral %> </span> <br>
           <span> Moyenne General : <%= MoyenneGeneral %></span>
      </div>
    </div>
  </div>
 

